{% extends 'website/layouts/base.html' %}

{% block styles %}
    <style>

    </style>
{% endblock %}

{% block content %}

    {% load static %}

    <!-- ############ Content START-->
    <div id="content" class="flex ">
        <div class="bg-white">
            <div class="bg-white p-5">
                <div class="col-md-8 mx-auto">
                    <div class="py-5 text-center">
                        <h1 class="text-lg font-weight-bold text-highlight">Sarmoya qilishni birga o'rganamiz <br/> va birga amalga oshiramiz.</h1>
                        <p class="text-md my-5 l-h-2x">Stocklar - bu firmalar ulushlari bozori uchun qilingan birinchi Bot dastur.</p>
                        <a href="#" class="btn btn-md btn-white b-a m-1">Batafsil</a>
                        <a href="https://t.me/stocklar_bot"  target="_blank" class="btn btn-md btn-outline-warning m-1">Sarmoya Boti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ############ Content END-->



{% endblock %}

{% block scripts %}
    <script type="text/javascript">


    </script>
{% endblock %}
