<!DOCTYPE html>
{% load static %}
<html lang="en" class="bg-dark" data-class="bg-dark">
<head>

    <meta charset="utf-8" />
      <title>Stoklar | Sarmoya Boti</title>
      <meta name="description" content="Responsive, Bootstrap, BS4" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

      <!-- style -->
      <!-- build:css assets/css/site.min.css -->
{#      <link rel="icon" href="{% static 'images/favicon.ico' %}">#}
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'libs/flipster/jquery.flipster.min.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.css' %}" type="text/css" />

    {# Custom Block for JavaScripts #}
    {% block styles %}
    {% endblock %}

</head>
<body>

        {% include './header.html' %}

        <div id="main" class="layout-row flex">

             {% block content %}
             {% endblock %}
        </div>

        {% include './footer.html' %}

          <!-- build:js assets/js/site.min.js -->
          <!-- jQuery -->
          <script src="{% static 'libs/jquery/dist/jquery.min.js'%}"></script>
          <!-- Bootstrap -->
          <script src="{% static 'libs/popper.js/dist/umd/popper.min.js'%}"></script>
          <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js'%}"></script>
          <!-- ajax page -->
{#          <script src="{% static 'libs/pjax/pjax.min.js'%}"></script>#}
{#          <script src="{% static 'js/ajax.js'%}"></script>#}
          <!-- lazyload plugin -->
          <script src="{% static 'js/lazyload.config.js'%}"></script>
          <script src="{% static 'js/lazyload.js'%}"></script>
          <script src="{% static 'js/plugin.js'%}"></script>
          <!-- scrollreveal -->
          <script src="{% static 'libs/scrollreveal/dist/scrollreveal.min.js'%}"></script>
          <!-- feathericon -->
          <script src="{% static 'libs/feather-icons/dist/feather.min.js'%}"></script>
          <script src="{% static 'js/plugins/feathericon.js'%}"></script>
          <!-- theme -->
          <script src="{% static 'js/theme.js'%}"></script>
          <script src="{% static 'js/utils.js'%}"></script>
          <script src="{% static 'libs/flipster/jquery.flipster.min.js'%}"></script>
          <!-- endbuild -->

        {# Custom Block for JavaScripts #}
        {% block scripts %}
        {% endblock %}


</body>
</html>